<h1>Quotes</h1>
<hr>
<app-quote-form></app-quote-form>

<div class="container">
  <ul>
    <li *ngFor="let quote of quotes; let i = index">
      <div class="card">
        <div class="card-header">
          Quote
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>{{ quote.wiseSaying  }}</p>
            <footer class="blockquote-footer"> <cite title="Source Title"> <app-author [quote]='quote'></app-author> </cite></footer>
          </blockquote>
          <p class="card-text"><small class="text-muted">Last updated 3 days</small></p>
          <p class="card-text"><small class="text-muted">Posted by <app-posted-by [quote]='quote'></app-posted-by>  </small></p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <a href="#!" class="card-link"><i class="fas fa-arrow-up"><span class="badge badge-light">9 up-votes</span></i></a>
          <a href="#!" class="card-link"><i class="fas fa-arrow-down"><span class="badge badge-light">8 down-votes</span></i></a>
          <a class="card-link"><small class="text-muted"><i class="fas fa-share">Share</i></small></a>
          <a class="card-link"><small class="text-muted"><i class="fas fa-pen">Edit</i></small></a>
          <a class="card-link"><small class="text-muted"><i class="fas fa-trash-alt">Delete</i></small></a>
          <a class="card-link"><small class="text-muted"><i class="fab fa-font-awesome-flag">Flag</i></small></a>
        </div>
      </div>
      <hr>

    </li>
  </ul>

</div>