<span>Hello {{quote.wiseSaying}}</span>

<div class="container">
  <h1>Quote Form</h1>
  <form>
    <div class="form-group">
      <label for="wiseSaying">Name</label>
      <input type="text" class="form-control" id="wiseSaying" required [(ngModel)]="quote.wiseSaying" name="wiseSaying" >
      TODO: {{quote.wiseSaying}}
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" class="form-control" id="author" required>
    </div>
    <div class="form-group">
      <label for="postedBy">Posted by</label>
      <input type="text" class="form-control" id="postedBy" required>
    </div>

    <button type="submit" class="btn btn-success">Add Quote</button>
    

  </form>
</div>